
/* css global classes */

:root {
  --dark-mode-background: black;
  --dark-mode-color: white;

  --light-mode-background: white;
  --light-mode-color: black;
}

/*
@media (prefers-color-scheme: dark) {
  body {
    background: var(--dark-mode-background);
    color: var(--dark-mode-color);
  }
}


@media (prefers-color-scheme: light) {
  body {
    background: var(--light-mode-background);
    color: var(--light-mode-color);
  }
}

*/

.create-btn {
  background-color: #3B71CA;
  border-radius: 5px;
  color: white;
  display: block;
  font-weight: bold;
  margin: 15px 0 15px auto;
  padding: 10px 20px;
}


* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.header {
  background: black;
  height: 50px;
  width: 100%;
}

.drill img {
  padding: 0 15px;
  width: 100%;
}

.drill p {
  font-size: 16px;
  line-height: 25px;
  margin: 15px 0;
}

.drill footer {
  border-top: 1px solid #999;
  display: block;
  margin-top: 30px;
  padding: 15px 0 10px 0;
}


.drills {
  margin: 50px auto;
  max-width: 1300px;
}

.select {
  background: none;
  border: 1px solid #888;
  border-radius: 3px;
  font-size: 14px;
  margin-right: 15px;
  padding: 5px 40px 5px 2px;
}

.search-drills {
  display: inline-flex;
  font-size: 14px;
}

.search-drills input {
  border: 1px solid #888;
  border-radius: 3px;
  margin-right: 15px;
  padding: 5px;
  width: 425px;
}

.search-drills input::placeholder {
  color: black;
}

.search-drills button {
  background: none;
  border: 1px solid #888;
  border-radius: 3px;
  cursor: pointer;
  height: 28px;
  padding: 5px;
  width: 28px;
}

.drill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  max-width: 100%;
}

.drill-list > div {
  cursor: pointer;
  margin-bottom: 30px;
  max-width: 300px;
}

.drill-list header {
  height: 40px;
  width: 100%;
}

.drill-list h2 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.drill-list img {
  width: 100%;
}

.create-drill {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  max-width: 1300px;
}

.create-drill h2 {
  font-size: 16px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.create-drill input,
.create-drill textarea, 
.create-drill button {
  border: 1px solid #888;
  border-radius: 3px;
  font-size: 14px;
  height: 40px;
  margin-bottom: 15px;
  padding: 5px;
  max-width: 500px;
}

.create-drill textarea {
  height: 150px;
  padding: 10px 5px;
}

.create-drill input[type=file] {
  border: none;
  height: auto;
  margin: 15px 0;
  width: 250px;
}

.drill-image-preview {
  display: block;
  height: 100px;
  width: 200px;
}

.create-drill > div {
  margin-bottom: 15px;
  max-width: 500px;
}

.create-drill > div:last-child {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.create-drill select {
  max-width: 200px;
}

.create-drill button {
  color: white;
  cursor: pointer;
  font-weight: bold;
  height: 30px;
  width: 200px;
}

.create-drill button:first-child {
  background: #E4A11B;
}

.create-drill button:last-child {
  background: #14A44D;
}

.footer {
  background: #444;
  color: white;
  height: 50px;
  padding-top: 15px;
  text-align: center;
  width: 100%;
}


.tooltip {
  background-color: #575a62;
  border-radius: 5px;
  bottom: -30px;
  font-size: 12px;
  left: 0px;
  opacity: 0;
  padding: 4px 8px;
  position: absolute;
  transition: opacity 0.3s, visibility 0.3s;
  visibility: hidden;
}

.modal {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 auto;
  padding: 15px !important;
  width: 600px;
  max-width: 600px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}



.dropdown-menu {
  background-color: rgba(0, 0, 0, .7);
  border-radius: 5px;
  list-style: none;
  position: absolute;
  right: 10px;
  top: 45px;
  width: 200px;
  z-index: 99999;
}


.dropdown-menu button {
  background: none;
  border: 0;
  color: var(--dark-color);
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding: 15px 0 15px 15px;
  position: relative;
  text-align: left;
  transition: background-color 0.3s ease;
  width: 100%;
}

.dropdown-menu button:hover {
  background-color: var(--dark-background-color-tertiary);
}


.dropdown-menu span {
  margin-left: 15px;
}



@media (max-width: 500px) {
  .modal {
    border: 0;
    border-radius: 0;
    height: 100%;
    width: 100%;
  }
}
